# PACS Server Security Configuration Configuration File
# Rename this file to .env and configure clinical passcodes

# Flask Secure Session Key
SECRET_KEY=pacs-secure-session-key-2026-fallback-rand-string

# Relational Database URI (Default is SQLite)
SQLALCHEMY_DATABASE_URI=sqlite:///xray_pacs.db

# Flask Application Running Port
PORT=5000
FLASK_DEBUG=True
