--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
flask
flask-sqlalchemy
flask-bcrypt
flask-login
flask-wtf
flask-limiter
python-dotenv
pydicom
pylibjpeg
pylibjpeg-libjpeg
pylibjpeg-openjpeg
numpy
pillow
gunicorn
